.meteorologist {
    padding: 30px;
}

.meteorologist .flex-container > div {
    margin: 10px;
}

.meteorologist .profile-pic {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.meteorologist .profile-pic img {
    width: 105%;
}

.meteorologist .heading {
    font-size: 1.25rem;
    font-style: italic
}

.meteorologist .role {
    display: block;
    font-size: 1.5rem;
}

.meteorologist .name {
    font-size: 2.5625rem;
    font-weight: 600;
    font-style: italic;
}

.meteorologist .cert-logo {
    margin: 10px 0;
}

.meteorologist .cert-logo img {
    width: 55px;
}

.meteorologist .site-logo {
    margin-bottom: 10px;;
}

.meteorologist .site-logo img {
    width: 75px;
}