.current-conditions {
    text-align: center;
}

.current-conditions > div {
    margin: 20px;
}

.current-conditions .flex-container > div {
    flex: 1;
}

.current-conditions .city {
    font-size: 2.25rem;
    font-weight: 400;
}

.current-conditions .icon img {
    width: 184px;
    height: 184px;
}

.current-conditions .temp {
    font-size: 8.75rem;
    font-weight: 300;
}

.current-conditions .conditions {
    font-size: 2rem;
    font-weight: 600;
    line-height: inherit;
}

.current-conditions .feels-like {
    font-size: 1.5rem;
    font-weight: 400;
}